.cart-overlay {
    position: absolute;
    top: 100px;
    max-height: 600px;
    right: 15%;
    background-color: #222222;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    color: rgba(255, 255, 255, 0.87);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

.cart-items {

    overflow-y: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.cart-item-image {
    height: 50px;
    margin-right: 10px;
}

.cart-btn {
    width: 100%;
    padding: 10px;
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.25s;
}

.cart-btn:hover {
    background-color: #535bf2;
}

.cart-item-btn {
    height: 30px;
    width: 30px;
    background-color: #1a1a1a;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 5px;
    margin-right: 8px;
}

.cart-item-btns-container {
    margin-top: 4px;
    display: flex;
}


.cart-item-btn:hover {
    background-color: #535bf2;
}

.cart-item-btn img {
    width: 100%;
    height: 100%;
}

.cart-item-name {
    font-size: 16px;
    font-weight: bold;
    text-align: start;
}

.cart-item-price {
    font-size: 14px;
    color: #888;
    text-align: start;
}
